<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title>Nuevo Mascota</title>
</head>
<body>
<main>
    <div class="container px-4 py-5">
        <h1 class="pb-2 mb-3 border-bottom">Nuevo Mascota</h1>
        <form method="post" th:action="@{/product/save}" class="mt-2">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre del Mascota</label>
                <input type="text" class="form-control" name="nombre" id="nombre">
            </div>

            <div class="mb-3">
                <label for="especie" class="form-label">Especie</label>
                <input type="text" class="form-control" name="especie" id="especie">
            </div>
            <div class="mb-3">
                <label for="raza" class="form-label">Raza</label>
                <input type="text" class="form-control" name="raza" id="raza">
            </div>
            <div class="mb-3">
                <label for="unitsinstock" class="form-label">Edad</label>
                <input type="number" class="form-control" name="unitsinstock" id="unitsinstock">
            </div>
            <div class="mb-3">
                <label for="unitsonorder" class="form-label">Nombre del dueño</label>
                <input type="number" class="form-control" name="unitsonorder" id="unitsonorder">
            </div>
            <div class="mb-3">
                <label for="reorderlevel" class="form-label">Telefono</label>
                <input type="number" class="form-control" name="reorderlevel" id="reorderlevel">
            </div>
            <div class="mb-3">
                <label for="reorderlevel" class="form-label">Estado</label>
                <input type="number" class="form-control" name="reorderlevel" id="reorderlevel">
            </div>
            <a th:href="@{/product}" class="btn btn-danger">Cancelar</a>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>